[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'flooring-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinterest:before {
  content: "\e919";
}

.icon-youtube:before {
  content: "\e91a";
}

.icon-facebook:before {
  content: "\e91b";
}

.icon-yelp:before {
  content: "\e91d";
}

.icon-whatsapp-bigger:before {
  content: "\e900";
}

.icon-clear-filter:before {
  content: "\e91c";
}

.icon-instagram:before {
  content: "\e914";
}

.icon-instagram-bigger:before {
  content: "\e915";
}

.icon-telegram:before {
  content: "\e916";
}

.icon-telegram-bgger:before {
  content: "\e917";
}

.icon-arrow-down-2:before {
  content: "\e901";
}

.icon-arrow-left:before {
  content: "\e902";
}

.icon-arrow-left-2:before {
  content: "\e903";
}

.icon-arrow-left-bigger:before {
  content: "\e904";
}

.icon-arrow-right:before {
  content: "\e905";
}

.icon-arrow-right-2:before {
  content: "\e906";
}

.icon-arrow-right-bigger:before {
  content: "\e907";
}

.icon-arrowup-2:before {
  content: "\e908";
}

.icon-category:before {
  content: "\e909";
}

.icon-check:before {
  content: "\e90a";
}

.icon-close:before {
  content: "\e90b";
}

.icon-filter:before {
  content: "\e90c";
}

.icon-loading:before {
  content: "\e90d";
}

.icon-login:before {
  content: "\e90e";
}

.icon-menu:before {
  content: "\e90f";
}

.icon-phone:before {
  content: "\e910";
}

.icon-search:before {
  content: "\e911";
}

.icon-send:before {
  content: "\e912";
}

.icon-time:before {
  content: "\e913";
}

.icon-write:before {
  content: "\e918";
}