main.brands {
  max-width: 1440px;
  margin-inline: auto;
  padding: 1rem;

  > .content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.25rem;

    @media (width <=1024px) {
      grid-template-columns: 1fr 1fr;
      gap: 0.875rem;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-primary4;
      padding: 0.5rem;
      border-radius: 0.3rem;
    }
  }
}