.home-header {
  z-index: 999;
  background: linear-gradient(96.52deg,
      #000000 -2.97%,
      rgba(91, 80, 78, 0) 190.81%);
  backdrop-filter: blur(12px);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem 1.875rem;
  color: $color-primary2;

  @media (width <=1024px) {
    position: relative;
    flex-direction: row;
    height: auto;
    gap: 0.5rem;
    padding: 0.875rem 1.5rem;

    .custom-logo-link {
      display: none;
    }
  }

  &>div {
    gap: $space-7;

    @media (width <=1024px) {
      width: 100%;
      gap: 0;
    }

    &>.flex-col {
      gap: $space-5;

      @media (width <=1024px) {
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        #search {
          width: 10rem;
        }
      }
    }
  }

  .menu-header-menu-container {
    a {
      text-decoration: none;
      color: $color-primary2;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: $space-5;

      @media (width<=1024px) {
        display: none;
      }

      li {
        marker: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        padding: 0.625rem 0.625rem 0.625rem 0.875rem;
      }
    }

    li.menu-item-has-children {
      display: flex;
      justify-content: space-between;
      border-radius: 0.2rem;
      position: relative;

      &::after {
        font-family: 'flooring-icons' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        font-size: 1.25rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\e906';
      }

      &:hover {
        >ul.sub-menu {
          translate: 102% 0;
          visibility: visible;
          opacity: 1;
          gap: .25rem;
        }
      }
    }

    ul.sub-menu {
      min-width: 12rem;
      right: 0;
      top: 0;
      background: $color-primary3;
      backdrop-filter: blur(12px);
      position: absolute;
      translate: 100% 30%;
      visibility: hidden;
      opacity: 0;
      transition: 0.1s ease;
      border-radius: 0.25rem;
    }
  }
}

body:has(.home-header) {
  overflow: hidden;

  @media (width <=1024px) {
    overflow: auto;
  }
}

.whole-header {
  //margin-inline: -1.875rem;
  padding: 1.875rem;
  align-items: center;
  background: linear-gradient(96.52deg,
      #000000 -2.97%,
      rgba(91, 80, 78, 0) 190.81%);

  @media (width <=1024px) {
    gap: 0.5rem;
    padding: 0.875rem 1rem;
  }

  .wrapper {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

    @media (width <=1024px) {
      >div:nth-child(1) {
        display: none;
      }

      >div:nth-child(2) {
        display: flex;
        justify-content: start;
        align-items: start;
      }
    }

    >div:nth-child(1) {

      >a {
        display: block;
        min-width: 12rem;
      }
    }

    >div:nth-child(3) {
      display: flex;
      gap: 1.25rem;

      input {
        max-width: 12rem;
      }
    }
  }

  @media (width <=1024px) {
    img {
      display: none;
    }
  }

  img {
    width: unset;
    height: unset;
  }

  ul {
    position: relative;
    display: flex;
    gap: 2.125rem;
    z-index: 9999;

    @media (width <=1024px) {
      display: none;
    }

    a {
      display: block;
      width: 100%;
      color: $color-primary2;
    }

    li.menu-item-has-children {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 0.2rem;
      gap: .125rem;

      &::after {
        content: '\e901';
        font-family: 'flooring-icons' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #fff;
        font-size: 1.5em;
      }

      &:hover {
        >ul.sub-menu {
          translate: 0 0;
          visibility: visible;
          opacity: 1;
        }
      }

      li.menu-item-has-children {
        &::after {
          content: '\e906';
        }
      }
    }

    ul.sub-menu {
      min-width: 12rem;
      top: 100%;
      background: inherit;
      background-color: rgba($color-primary1, 0.85);
      backdrop-filter: blur(12px);
      position: absolute;
      translate: 0 30%;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s ease;
      border-radius: 0.25rem;
      padding: .75rem;
      display: flex;
      flex-direction: column;
      gap: 0;

      a {
        padding: .5rem .25rem;
      }

      ul {
        left: calc(100% + .7rem);
        top: 0;
      }
    }
  }
}

#mobile-menu-opener {
  @media (width > 1024px) {
    display: none;
  }
}

#monile-menu-container {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  z-index: 999;
  background: linear-gradient(90deg, #000 -3%, rgba(91, 80, 78, 0) 190%);
  backdrop-filter: blur(12px);
  inset: 0;
  padding: 4rem 1rem;
  translate: -100%;
  transition: 0.3s ease-in-out;
  align-content: start;
  width: 100%;

  @media (width > 1024px) {
    display: none;
  }

  &.open {
    translate: 0;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .custom-logo-link {
      display: block;
      width: 50%;
    }

    .icon-close {
      font-size: 1.5rem;
    }
  }

  >.menu {
    >div {
      padding-top: $space-7;

      >ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
          font-size: 1.15rem;

          a {
            display: flex;
            align-items: center;
            justify-content: space-between;

            i {
              font-size: 1.75rem;
            }
          }

          .sub-menu {
            display: none;
            padding-top: 0.5rem;
            padding-left: 0.875rem;

            &.open {
              display: block;
            }

            >li {
              margin-top: .75rem;

              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }

  >.social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-top: 3rem;

    a {
      display: block;

      >i {
        background-color: rgba(#fff, 0.3);
        backdrop-filter: blur(12px);
        color: #fff;
        border-radius: 50%;
        font-size: 1.45rem;
        padding: 0.5rem;
      }
    }
  }
}