main.single-product{
    padding: 1.875rem;

    hr{
        margin: 1.5rem 0 ;
    }

    > .top{
        display: flex;

        >div{
            flex:1;
        }

        > .tabs{
            > .headings{
                display: flex;

                > span{
                    padding: .875rem;
                    color: rgba($color-primary2 , 0.6) ;
                    display: block;
                    transition: 0.3s ease;

                    &.show{
                        background-color: rgba($color-primary2 , 0.2);
                        color: $color-primary2;
                        backdrop-filter: blur(.875rem);
                        border-radius: .875rem .875rem 0 0;
                    }
                }
            }

            > .content{
                    background-color: rgba($color-primary2 , 0.2);    
                    backdrop-filter: blur(.875rem);
                    border-radius:  0 .875rem .875rem .875rem;
                    padding: 1.5rem;
                    min-height: 500px;
                    transition: 0.3s;

                    > div{
                        opacity: 0;
                        translate: 0 100px;
                        transition: 0.3s ease-in-out;
                        visibility: hidden;
                        position: absolute;
                        right: 1.5rem;
                        left: 1.5rem;
                        color: rgba($color-primary2 , .6);

                        h2{
                            color: #fff;
                            margin-bottom: .875rem;
                        }

                        &.show{
                            opacity: 1;
                            translate: 0;
                            visibility: visible;
                        }

                    }
            }
        }

        > .product-images{

        }
    }
}