body {
  background-color: $color-primary1;
  background-image: url('./imgs/body-bg.png');
  overflow-x: hidden;
  padding-inline: 1.875rem;
}

body:has(.side-bar.open) {
  overflow-y: hidden;
}

main {
  max-width: 1440px;
  margin-inline: auto;
}

::selection {
  background-color: $color-secondary2;
  color: $color-primary1;
}

.bg {
  &_secondary1 {
    background-image: $color-secondary1;
    color: $color-primary1;
  }

  &_secondary2 {
    background-color: $color-secondary2;
    color: $color-primary1;
  }

  &_secondary3 {
    background-color: $color-primary1;
    color: $color-primary1;
  }

  &_disable {
    background-color: $color-disable;
    color: $color-primary1;
  }

  &_sucsess {
    background-color: $color-success;
    color: $color-primary2;
  }

  &_white {
    background-color: $color-primary2;
    color: $color-primary1;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row !important;
}

.text-white {
  color: $color-primary2;
}

.icon-place-holder {
  background-color: red;
  width: 1rem;
  aspect-ratio: 1;
  display: inline-block;
}

.select-none {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}